<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Svarga Restaurant</title>
  <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <header>
    <restaurant-navbar />
  </header>
  <main>
    <!-- Jumbotron -->
    <div class="hero" style="background-image: linear-gradient(rgba(114, 114, 133, 0.5), rgba(131, 131, 161, 0.5)), url('images/heros/hero-image_4.jpg');">
      <div class="heroinner">
          <h1 class="herotitle">Svarga Restaurant</h1>
          <p class="herosubtitle">Best Restaurant List in Svarga City</p>
      </div>
  </div>
<!-- Content -->
<main id="content">
  <section class="content">
      <div class="latest">
          <h1>Find Restaurant</h1>
          <div class="card-list" id="testing"></div>
      </div>
  </section>
</main>
</main>
  <footer>
    <restaurant-footer />
  </footer>

  <script type="javascript" src="./dist/app.bundle.js"></script>
</body>
</html>
